---
import Layout from '../layouts/Layout.astro'
import Queue from '../components/Queue.astro'
import ActiveOrders from '../components/ActiveOrders.astro'
import Notifications from '../components/Notifications.astro'

import menu from '../data/menu.json'
---

<Layout title="Welcome to Alpine Coffee.">
	<main class="flex gap-32 justify-center relative">
		<div id="menu" x-data class="space-y-4 w-96">
			<div class="relative text-center">
				<span class="text-center text-slate-200 bg-slate-950 relative z-10 px-4">The Menu</span>
				<div class="h-px w-full bg-slate-800 absolute top-3"></div>
			</div>
			<div class="divide-y divide-slate-900">
				{menu.map(drink => (
				<button  
					x-on:click={`$dispatch('order-added', ${JSON.stringify(drink)})`}
					class="flex items-center gap-4 px-4 py-8 text-left transition hover:bg-slate-900/60">
					<img src={drink.image} alt={drink.title} class="h-20 w-20 rounded-full">
					
					<div>
						<h2 class="font-bold text-lg text-slate-300">{drink.title}</h2>
						<p class="text-slate-500 line-clamp-2">{drink.description}</p>
						<div class="flex items-center gap-4 text-slate-300 mt-2">
							<span>Price: ${drink.price}</span>
							<span>Time: {drink.waitTime} seconds</span>
						</div>
					</div>
				</button>
			))}
			</div>
		</div>

		<div id="queue" x-data="queue" class="flex gap-32"  @order-added.window="makeCoffee($event.detail)">
			<Queue />
			
			<ActiveOrders />
		</div>

		<Notifications />
	</main>
</Layout>