---
import menu from '../data/menu.json'
---
<div 
    id="menu"
    class="flex flex-col gap-4 justify-between w-96 max-h-screen pb-5">
    <div class="relative text-center">
        <span class="text-center text-slate-200 bg-slate-950 relative z-10 px-4">The Menu</span>
        <div class="h-px w-full bg-slate-800 absolute top-3"></div>
    </div>
    <div class="shrink-0">
        <input type="text" x-model="customer" placeholder="Your name" class="w-full py-2 px-4 border border-slate-800 bg-slate-900 rounded-lg text-slate-50">
    </div>
    <div class="overflow-scroll divide-y divide-slate-900">
        {menu.map(drink => (
            // On Click, dispatch an event with the drink and customer name and reset the customer name
            <button  
                x-on:click={`$dispatch('order-added', { drink: ${JSON.stringify(drink)}, customer: customer }), customer = null`}
                class="flex items-center gap-4 px-4 py-8 text-left transition hover:bg-slate-900/60">
                <img src={drink.image} alt={drink.title} class="h-20 w-20 rounded-full">
                
                <div>
                    <h2 class="font-bold text-lg text-slate-300">{drink.title}</h2>
                    <p class="text-slate-500 line-clamp-2">{drink.description}</p>
                    <div class="flex items-center gap-4 text-slate-300 mt-2">
                        <span>Price: ${drink.price}</span>
                        <span>Time: {drink.waitTime} seconds</span>
                    </div>
                </div>
            </button>
        ))}
    </div>
    <div class="pointer-events-none absolute bottom-0 left-0 w-full h-20 bg-gradient-to-t from-slate-950 to-transparent"></div>
</div>